.home-container {
  background-image: url("../c-o-m-frontend/src/assets/mundo_desktop.png");
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.home-text {
  background-color: rgba(255, 255, 255, 0.7);
  padding: 20px;
  margin-left: 20px;
  max-width: 400px;
}
